:root{
  font-size: 62.5%;
  --main-color: #0C96EB;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif;
}